<div class="boat_wrapper">
  <div class="card" id="single_boat">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{image}}" alt="" />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <p class="title is-2" id="card-title">{{location.city}},
          {{location.state}}</p>
        <div class="media-content" id="boat_details">
          <ul>
            <li>
              Rate:
              {{hourlyRate}}/Hr
            </li>
            <li>
              Length:
              {{length}}
              ft.
            </li>
            <li>
              Capacity:
              {{capacity}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      {{#if logged_in}}
      <button type="submit" class="button card-footer-item" id="reservation-btn">Reserve</button>
      {{else}}
      <a href="../login" class="card-footer-item">Login</a>
      {{/if}}
    </footer>
  </div>
  {{#if reviews}}
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="{{renter.image}}" />
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{renter.first_name}}</strong>
            <small>@{{renter.username}}</small>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas
            non massa sem. Etiam finibus odio quis feugiat facilisis.
          </p>
        </div>
      </div>
    </article>
  {{/if}}
</div>

<script src="/js/reservation.js"></script>